.profileBlock {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 100vh;
}

.profileInfo {
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
    color: white;

}

.infoBlock {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}