.experienceSection{
    margin-left: 80px;
    color: whitesmoke;
}

.experienceTitle{
    font-size: 2rem;
    color:whitesmoke;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.experienceBlock{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(182, 177, 177);
    background-color:rgb(75, 75, 77);
    border-radius: 25px;
}

.experienceJob{
    font-size: 1.2rem;
    text-decoration: dashed;
}

.experienceDate{
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}